*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    background-color:black ;
}
body{
    color: white;
    font-family: "Helvetica Neue",Helvetica
}


header{
    text-align: center;
    padding: 10px;
    background-color: rgb(37, 37, 37);
}
header h1{
    margin-top:10px;
    margin-bottom: 10px;
}
p{
    background-color: rgb(37, 37, 37);
    color: white;
}
a{
    background-color: rgb(37, 37, 37);
    color: white;
    text-decoration: none;
}
h1{
    background-color: rgb(37, 37, 37);
}
div{
    background-color: rgb(37, 37, 37);
}
.img-avartar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
ul{
    margin-top:10px;
}
ul li a{
    padding: 10px;
    margin-top: 10px;
}
ul li a p{
    padding-left: 20px;
}
.fa-facebook {
    font-size: 50px;
    color: blue;
    background-color: white;
    border-radius: 50%;
}
ul li a{
    display: flex;
    align-items: center;
}
.img-ins{
    background-color: rgb(37, 37, 37);
    width: 50px;
    height: 50px;
}
.img-thread{
    background-color: rgb(37, 37, 37);
    width: 50px;
    height: 50px;
    color: white !important;
}
.img-zalo{
    background-color: rgb(37, 37, 37);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.late{
    margin-bottom: 10px;
}